*{
    font-family:cursive;
}

body{
    background-color: #ffffa1;
    color: #6bca06;
    font-family: Garamond, serif;
}
.header{
    text-shadow: 2px 2px 2px #ffffa1, 1px 1px 2px black;
    letter-spacing: -2px;
    color:#1c8c00;
    background-color:#b0fc35 ;
    border: 2px solid #e6fe82;
    border-radius: 10px;
}
h1 {
    display: Flex;
    justify-content : center; 
}

h2  {
    margin: 3% 5%;
    color: #1c8c00;
    border-top: 6px solid #b0fc35;
    border-bottom: 6px solid #b0fc35;
    border-radius: 2.5px;
}

main p {
    line-height: 1.8;
    margin: 2% 5% ;
    color: #1c8c00;
    text-align: justify;
}

main h2 {
    text-shadow: 2px 2px 2px #b0fc35;;
    display: Flex;
    justify-content : center; 
}

main div { 
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: -2px;
    text-decoration: none;
    background-image: url("https://freerangestock.com/sample/136314/bokeh--green-background.jpg");
    display: Flex;
    justify-content : center; 
    border: 5px inset silver;
    outline: 5px outset silver;
    color: #b0fc35;
    font-size: 20px;
    padding: 70px;
    margin: 70px;
    border-radius: 6px;
}

footer {
    text-shadow: 2px 2px 5px #000;
    display: Flex;
    justify-content : center; 
    color: #b0fc35;
    border-top: 10px solid #b0fc35;
    border-radius: 2.5px;
}